* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #000;
  font-family: Calibri;
  font-size: 36px;
  margin: 0 0 14px 0;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

#content {
  width: 100%;
  height: 100vh;
  border: none;
}

body {
  overflow: hidden;
}

#vid {
  width: 80%;
  height: 75vh;
  object-fit: cover;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 3px solid black;
}

#navbar {
  width: 100%;
  height: 6vh;
  background-color: black;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  font-size: 18px;
  font-family: Calibri;
  cursor: pointer;
  margin-right: 10px;
  transition-duration: 0.4;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.8);
}

#new-wow {
  color: white;
  font-family: Calibri;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  height: 5vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4;
}

#new-wow:hover {
  color: rgba(255, 255, 255, 0.8);
}
